<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Austin Django Website</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/skel.min.js"></script>
		<script src="{{STATIC_URL}}js/skel-layers.min.js"></script>
		<script src="{{STATIC_URL}}js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{STATIC_URL}}css/skel.css" />
			<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
			<link rel="stylesheet" href="{{STATIC_URL}}css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="https://austindamn.herokuapp.com/austin/">Home Page</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="https://austindamn.herokuapp.com/austin/">English</a></li>
						<!--li><a href="{{TEMPLATE_DIRS}}generic.html">Chinese</a></li-->
						<!--li><a href="#" class="button special">Sign Up</a></li-->
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<a href="#two" class="button big">Profile</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<!--header class="major">
						<h2>Lorem ipsum dolor sit</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>
					</header-->
					<section class="profiles">
						<div class="row">
						    <section class="3u 6u(medium) 12u$(xsmall) profile">
								<h4>About Me</h4>
								<p>Name: Austin<br>
								   Nation: Taiwan<br>
								   Age: Born in 1988<br>
								   Gender: Male<br>
								   Mobile: +886926382519<br>
								   Facebook: AustinHsu<br>
								</p>
							</section>
							<section class="3u 6u(medium) 12u$(xsmall) profile">
								<h4>Profile</h4>
								<ul>
								    <li>Three years worked in King Yuan Electronics co., Ltd.  Main Job: Develop and maintain system. To realize why the code be that , and try to find it if that can be improved.</li>
                                    <li>One and half year lived in Australia.</li>
                                    <li>Language: Mandirin Chinese , English.</li>
								</ul>
								<h4>Personality</h4>
								<ul>
								    <li>Hobbies: Reading、Learning、Sport、Traveling</li>
								    <li>Principles:Integrity、easy going</li>
								</ul>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<h4>Education</h4>
								<p>2006-2010 National United University Computer Science and Information Engineering bachelor degree</p>
								<h4>Skills</h4>
								<ul>
								    <li>Coding</li>
								    <div>Java、C、Shell、VB6.0、TCL、Python</div>
								    <li>WebDesign</li>
								    <div>HTML、CSS</div>
								    <li>System admin</li>
								    <div>Linux、Apache、Tomcat</div>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(xsmall) profile">
								<h4>Work Experience</h4>
								<p>In King Yuan Project:</p>
								<ul>
								    <li>Import New customers' product</li>
								    <div>Adjust the testing process and setting with customers,and make sure all can be well done.</div>
                                    <li>Integrate and optimize original process</li>
                                    <div>Trace old code and simplify the complicated process. I convert Shell to Java for convergence. It will be more easier to maintain and debug.</div>
                                    <li>Develop customized report</li>
                                    <div>Follow the spec of customer to develop the report.</div>
								    <li>Maintain Web page system</li>
								    <div>Some of testing program upload through by website.</div>
								</ul>
							</section>
						</div>
					</section>
					<footer>
						<p>If something that you’re doing doesn’t challenge you, then it doesn’t change you.!</p>
						<ul class="actions">
							<li>
								<a href="mailto:hct830@gmail.com" class="button big">Mail to me</a>
							</li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Three -->
			<!--section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Consectetur adipisicing elit</h2>
						<p>Lorem ipsum dolor sit amet. Delectus consequatur, similique quia!</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Name" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="Email" type="email">
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Send Message" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section-->

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<!--section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Lorem ipsum dolor</h3>
								<ul class="unstyled">
									<li><a href="#">Profile</a></li>
									<li><a href="#">Name:Austin</a></li>
									<li><a href="#">Nation:Taiwan</a></li>
									<li><a href="#">Born in 1988</a></li>
									<li><a href="#">FB:tkjh90010@hotmail.com</a></li>
								</ul>
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>Skills</h3>
								<ul class="unstyled">
									<li><a href="#">Coding: Java/Shell/PHP/Python</a></li>
									<li><a href="#"></a></li>
									<li><a href="#">Corporis, non aut rerum</a></li>
									<li><a href="#">Laboriosam nulla voluptas, harum</a></li>
									<li><a href="#">Facere eligendi, inventore dolor</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Neque, dolore, facere</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Distinctio, inventore quidem nesciunt</a></li>
									<li><a href="#">Explicabo inventore itaque autem</a></li>
									<li><a href="#">Aperiam harum, sint quibusdam</a></li>
									<li><a href="#">Labore excepturi assumenda</a></li>
								</ul>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Illum, tempori, saepe</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Recusandae, culpa necessita nam</a></li>
									<li><a href="#">Cupiditate, debitis adipisci blandi</a></li>
									<li><a href="#">Tempore nam, enim quia</a></li>
									<li><a href="#">Explicabo molestiae dolor labore</a></li>
								</ul>
							</section>
						</div>
					</section-->
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Last built on 12 May 2015. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<!--div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div-->
					</div>
				</div>
			</footer>

	</body>
</html>